<body>

  <a href="/logout">ログアウト</a>
  <h1>Janken GAME!</h1>

  <script th:inline="javascript" th:if=${janken}>
    window.onload = function () {
      //janken変数の内容を読み取る
      var janken = [[${ janken }]];
      //3つの数値を文字列として保持する変数
      var result_txt = "";
      result_txt += "あなたの手 " + janken.playerHand;
      result_txt += "<br>相手の手 " + janken.enemyHand;
      result_txt += "<br>結果 " + janken.jankenResult;
      //DOM操作
      document.getElementById("janken").innerHTML = result_txt;
      console.log(janken);//ログ出力．ブラウザのコンソール画面に表示される
    }
  </script>

  <div th:if="${playerName}">
    Hi [[${playerName}]]
  </div>

  <!-- エントリーしているユーザ情報 -->
  <div th:if="${users}">
    <h1>エントリー</h1>
    <ul>
      <!--eachは所謂for each．この場合roomオブジェクトのusersフィールドにあるすべてのデータを一通り表示する
        thが指定されているので[]が不要になる-->
      <li th:each="user : ${users}">
        <a th:href="@{/match(id=${user.id})}">[[${user.userName}]]</a>
      </li>

    </ul>
  </div>

  <!-- 過去のマッチ情報 -->
  <div th:if="${matches}">
    <h1>試合結果</h1>
    <!--eachは所謂for each．この場合roomオブジェクトのusersフィールドにあるすべてのデータを一通り表示する
          thが指定されているので[]が不要になる-->
    <div th:each="match : ${matches}">
      id:[[${match.id}]] user1:[[${match.user1}]] user2:[[${match.user2}]] user1の手:[[${match.user1Hand}]]
      user2の手:[[${match.user2Hand}]]
    </div>

  </div>

  <div>
    <!--Queryパラメータ-->
    <a href="/jankengame?hand=Gu">グー</a> <a href="/jankengame?hand=Choki">チョキ</a> <a href="/jankengame?hand=Pa">パー</a>
  </div>

  <!-- 結果を表示するための場所 -->
  <div id="janken"></div>

</body>
